.btn-actions {
  margin: 0 5px;

  font-weight: bold;
  color: white;

  border: none;
  border: 1px solid black;
  border-radius: 3px;
  background-color: black;
}
.btn-actions:hover {
  color: black;

  background-color: white;
}
.btn-confirm {
  background-color: lightgreen;
  border: 1px solid lightgreen;
}
.btn-confirm-del {
  background-color: #fca311;
  border: 1px solid #fca311;
}
.btn-abort {
  background-color: red;
  border: 1px solid red;
}